
  .btn{
  background-color: transparent;
  border: 0;
  max-width: 1000px; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  .icon{
    padding-right: 6px;
  }
  .profile-list{
    list-style-type: none;
    background-color: aqua;
    padding-left: 15px;
    width: 130%;
  }
  .list{
    cursor: pointer;
    color: #475569;
    display: flex;
    align-items: center;
  }